@import url("https://fonts.googleapis.com/css?family=Yeon+Sung");
@import url("https://fonts.googleapis.com/css?family=Gugi");
/* line 6, ../sass/base/_base.scss */
body {
  font-family: 'Yeon Sung', cursive;
  background-color: #f3f6f7;
}

/* line 11, ../sass/base/_base.scss */
p {
  font-size: 20px;
}

/* line 17, ../sass/base/_base.scss */
.section-padding {
  padding: 40px 0;
}

/* line 22, ../sass/base/_base.scss */
.heading-title {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'Gugi', cursive;
  margin-bottom: 40px;
}

/* line 31, ../sass/base/_base.scss */
.primary_btn {
  background-color: #ff6600;
  color: #009966;
  border: 2px solid #009966;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  transition: 0.2s;
  letter-spacing: 1.8px;
  margin: 10px 0;
}
/* line 41, ../sass/base/_base.scss */
.primary_btn:hover {
  background-color: #009966;
  color: #ff6600;
  border-color: #ff6600;
}

/* line 1, ../sass/module/_topnav.scss */
.topnav {
  background-color: #006633;
  color: #fff;
  padding: 5px 0;
}

/* line 1, ../sass/module/_header.scss */
.header {
  background-color: #009966;
  padding: 10px 0;
}

/* line 1, ../sass/module/_navbar.scss */
.navbar-inverse {
  background-color: #fff;
}

/* line 5, ../sass/module/_navbar.scss */
.navbar {
  border-radius: 0;
  border-color: #009966;
}
/* line 8, ../sass/module/_navbar.scss */
.navbar .navbar-brand {
  color: #009966 !important;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 13, ../sass/module/_navbar.scss */
.navbar ul li a {
  color: #009966 !important;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 17, ../sass/module/_navbar.scss */
.navbar ul li a:hover {
  color: #006633 !important;
}

/* line 1, ../sass/module/_ad.scss */
.ad-item {
  padding: 5px 0;
}
