.navbar-inverse{
	background-color: #fff;
}

.navbar{
	border-radius: 0;
	border-color: $primary-color;
	.navbar-brand{
		color: $primary-color !important;
		font-weight: bold;
		text-transform: uppercase;
	}
	ul li a{
		color: $primary-color !important;
		font-weight: bold;
		text-transform: uppercase;
		&:hover{
			color: $primary-dark-color !important;
		}
	}
}